@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');


body{
    background-color: white;
    box-shadow: 1px, 1px, 1px black;
    text-align: center;
}

header{
    background-image: linear-gradient(90deg yellow, rgb(248, 172, 7), rgb(183, 214, 5));
}

header> span > h1{
    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
}

header>div{
    margin: 0 10px 0 0;
}

header >div > img{
    width: 400px;
    height: 400px;
}

header>nav{
    margin: 0 0 0 10px;
}

span{
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: black;
}

main{
    background-color: rgba(247, 213, 25, 0.438);
}

section{
    background-color: rgba(177, 204, 79, 0.39);
}

h2{
    color: black;
}

section > div {
    align-items: left;
}

section > span{
    align-items: right;
}

div>img{ 
    width: 100px;
    height: 100px;
}

span>p{ /* USAR SHORTHANDS*/
    font-family: Arial, Helvetica, sans-serif;
}


