@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/ 
}

body{
    background-image:linear-gradient(to right,#b5cf66, #FFEC5C);
}

main{
    border-radius: 10px;
    box-shadow: 5px 5px 15px #776e2cb0;
  background-color: white;  
  width: 600px;
  padding: 10px;
  margin: auto;  
}

h1{
  color: #FF5A33;  
  text-align: center;
  text-shadow: 1px 1px 2px #f3532fd3;
}

h2{
    color:#146152;
}

p{
    text-align: justify;
}

